.body {
    margin: 0px;
    border=0px;
    padding-top: 70px;
}

body{
    background-color:lavender;
    font-family: cursive
}

@media only screen and (max-width: 600px){
    body{
        background-color:darkmagenta;
        font-family:monospace;
        margin: 25% 
    }
}


#navbar{
    width:100%;
    height: 70px;
    background-color:#A98B88;
    padding-top: 25px;
    position: fixed;
    top:0;
}

#linkref{
    color:white;
    text-decoration: none;
    padding: 150px;
    font-family: 'Luckiest Guy';
    font-size: 40px;
    padding:25px;
}

.name {
    align-content:center;
    font-family: 'Luckiest Guy', serif;
    font-size: 20px;
    padding-top: 25px;
}

a {
    text-decoration: none;
    color:black;
}

li {
    list-style: none;
    padding: 5px;
    flex-direction: row;
    align-content: center;

   
     
}
.nav {
    float:right;
    
}


* {
    box-sizing: border-box;
}
.container{
   display: flex;
    padding: 150px;
}

.flex-item{
    background: #ddd;
    height: 190px;
    width: 190px;
    margin: 5px;
}

footer {
    align-content: center;
}
    
}